{{data-source src=(concat '/' dc '/service/' slug) filter=(to-filter terms map=(array
  (array 'service:' 'Service.Service == "%s"')
  (array 'status:' 'Checks.Status == "%s"')
  (array 'tags:' '"%s" IN Service.Tags')
  (array 'tag:' '"%s" IN Service.Tags')
  (array '' 'Service.Service == "%s"')
)) onchange=(action (mut items) value='data')}}

{{#app-view class="service list" loading=(is-undefined items)}}
    {{#block-slot 'notification' as |status type|}}
      {{partial 'dc/services/notifications'}}
    {{/block-slot}}
    {{#block-slot 'header'}}
        <h1>
            Services <em>{{format-number items.length}} total</em>
        </h1>
        <label for="toolbar-toggle"></label>
    {{/block-slot}}
    {{#block-slot 'toolbar'}}
      {{phrase-editor
        placeholder=(if (eq terms.length 0) 'service:name tag:name status:critical search-term' '')
        value=(slice 0 terms.length terms)
        onchange=(queue (action (mut terms) value='detail.value') (action 'query' value='detail.value'))
      }}
    {{/block-slot}}
    {{#block-slot 'content'}}
      {{#consul-service-list items=items}}
        {{#block-slot 'data'}}{{/block-slot}}
      {{/consul-service-list}}
      {{#if (lt items.length 1)}}
        <p>
          There are no services.
        </p>
      {{/if}}
  {{/block-slot}}
{{/app-view}}

