@charset 'utf-8';

/* all variables and custom queries including generic base variables */
@import 'variables';

/* all components including generic base components */
@import 'components';
/* cascading typography */
@import 'typography';
/* layouts */
@import 'layout';
/* pinpoint individual overwrites for those 'just on this page' problems */
@import 'routes';
/* global control of themeable components */
@import 'themes';
%debug-box {
  color: red;
  background-color: rgb(255 255 255 / 70%);
  position: absolute;
  /* hi */
  z-index: 100000;
}
// section[data-outlet] {
//   position: relative;
// }
// section[data-outlet]::before {
//   @extend %p3;
//   @extend %debug-box;
//   content: attr(data-outlet);
//   display: inline;
// }
